<p id="notice"><%= notice %></p>


    <!-- Order by name/rating... by ordering the params in the controller -->

    <%= link_to "By Name", evaluations_path(order: :title_review) %> |
    <%= link_to "By Rating", evaluations_path(order: :average_score) %>

    <!-- Using partial to render existing show view in the index -->

    <% @evaluations.each do |evaluation| %>
      <%= render 'show', evaluation: evaluation %>
    <% end %>


<br>



