<%= simple_form_for([ evaluation, comment ], remote: true) do |f| %>
<!-- Don't forget to add remote: :true to use JS!!! -->
  <%= f.error_notification %>
      <%= f.input :content, placeholder: "add a comment", inline_label: 'Comment', label: false, input_html: {:rows => 1} %>

      <div class="full-padded">
      <%= f.button :submit, "add", class: "pull-right" %>
      <a href="" class="cancel-new-form pull-right btn">Cancel</a>
      </div>
<% end %>
<br>
