#home-wrapper {

  background: white;

  .home-padded {
    padding: 3% 5% 5% 5%;
  }


  .logo {
    color: white;
  }

  .bar {
    margin-bottom: 3em;
  }

  .middle-page{
    margin-top: 15vh;
  }

  .subtitle {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
  }

  .my-buttons {
    margin-top: 3em;
  }

  .intro {
    color: #ffffff;
    line-height: 1.2em;
  }

  .intro-section {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 3%;
  }

  .img-container {
    background: none repeat scroll 0 0 #f7f8fa;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(229, 229, 229, 0.75);
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    position: relative;
  }

  #evaluations {
    margin-top: 50px;
  }

  .review {

    height: 150px;

    small {
      font-style: italic;
      color: $gray;
    }
  }

  /*========================================
     4.11 SECTION: FOOTER
  ==========================================*/
  footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer-logo {
    max-width: 180px;
    // margin: auto;
  }

  .bgcolor-2 {
    background: none repeat scroll 0 0 $gray-darker;
  }

}

.snippet-avatar {
  width: 100%;
  border-radius: 5px;
}

.snippet-avatar-2 {
  width: 75%;
  height: auto;
  border-radius: 5px;
}

#home-header {
  width: 100%;
  //height: 100%;
  min-height: 85vh;
  background: url(image_path('welcome-4.jpg')) no-repeat center;
  background-size: cover;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // background-color: rgba(0,0,0,0.5);
  }
}

/*---------------------------------------
   LOG IN FORM
-----------------------------------------*/
.login-form .input-box {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFF;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: inherit;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/*---------------------------------------
   VERTICAL REGISTRATION FORM
-----------------------------------------*/

.code-error{
  position: relative;
}

.vertical-registration-form {
  background: rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 390px;
  margin: auto;
  margin-bottom: 55px;
  padding-bottom: 30px;

  .switch {
    position: relative;
    display: inline-block;
    // margin-bottom: 25px;
  }

  .switch > span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: #fff;
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: #afafaf;
  }

  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #fff;
  }

  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #afafaf;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 257px;
    height: 36px;
    background-color: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }

  input.check-toggle-round-flat + label:before {
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background-color: #000;
    -webkit-border-radius: 60px;

    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 128px;
    background-color: #008ed6;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  input.check-toggle-round-flat:checked + label {
  }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 121px;
  }

}

.vertical-registration-form .colored-line {
  margin-top: 0;
}

.vertical-registration-form h3 {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vertical-registration-form .input-box {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 45px;
  background: #000000;
  border-radius: 3px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inherit;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.vertical-registration-form .input-box:focus,
.vertical-registration-form .input-box:active {
  box-shadow: inherit;
  color: #ffffff;
}

/*---------------------------------------
   4.2.3 FEATURE LIST
-----------------------------------------*/
.feature-list-1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.feature-list-1 li {
  margin-top: 25px;
  margin-bottom: 25px;
}

.feature-list-1 li .icon-container {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  color: #ffffff;
  line-height: 32px;
  margin-right: 15px;
  margin-top: 8px;
}

.feature-list-1 li p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px;
}

.feature-list-1 li .icon-container {
  background: #008ed6;
}

.full-page {
  width: 100%;
  height: 100%;
  min-height: 98vh;
  position: relative;
  // position relative very important for scrolling arrows
}

.full-page-with-footer {
  width: 100%;
  height: 100%;
  min-height: 90vh;
}

.bgcolor-image{
  background-color: #f5f5f5;

  }


.bgcolor-image-computer{
  background-color: #fafafa;
}

.scroll-btn{
  position: absolute;
  width: 100px;
  bottom: 10px;
  left: calc(50% - 50px);
  text-align: center;
  font-size: 60px;
  color: white;
  // very important that the parent (full-page) has a relative position
}

.white-text{
  color: white;
}

.home-bg-image-3 {
  width: 100%;
  //height: 100%;
  min-height: 98vh;
  background: url(image_path('welcome-3.jpg')) no-repeat center;
  background-size: cover;
  }

  .big-text {
  font-size: 18px;
  line-height: 30px;
  }

.black-text{
  color: black;
}

.no-left-margin{
  margin-left: 0px;
  padding-left: 0px;

}

.white-box{
background: white;
padding: 20px;
border-radius: 5px;
}

.button-margin-top{
  margin-top: 5px;
}

.lower-margin{
  margin-bottom: 5px;
}

.z-logo{
  position: absolute;
  width: 200px;
  bottom: -100px;
  left: calc(50% - 100px);
  text-align: center;
  z-index: 99;
}

@media (max-width: 767px) {
  .scroll-btn-padding{
    padding-bottom: 50px;
  }
  .logo-bottom-padded{
  padding-bottom: 100px;
  }
  .logo-top-padded{
    padding-top: 100px;
  }
}

.snippet-box{
  background: #ffffff;
  border-left: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 1px 3px 0 0 rgba(180, 180, 180, 0.50);
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 0px;
  padding-top: 0px;
}

.snippet-box h2{
  background: #428BCA;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 12px;
  color: #ffffff;
  margin: 0;
  font-size: 22px;
}

.text-yellow{
  color: $yellow;
}

.bg-color-snippets{
  background: #dddddd;
}
