#home-wrapper {
  width: 100%;
  height: 100vh;
  background: url(image_path('welcome.jpg')) no-repeat center fixed;
  background-size: cover;
  color: white;

  .logo {
    max-width: 100%;
    margin-top: 0;
    padding-top: 10vh;
  }

  h1 {
    font-size: 0;
    visibility: hidden;
  }

  .subtitle {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
  }

  .my-buttons {
    margin-top: 3em;
  }
}