<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
<br>
<br>
<div class="container" id="home-wrapper">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <div class="logo">
        <div class="middle-page">
      <h1 class="pullDown">Founder community</h1>
      <h4 class="pullDown">Helping you select the right investor.</h4>
      </div>
      <div class="bottom-page">
       <a class="" href="#snippets"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
      </div>
      </div>

    </div>
  </div>
</div>

<div class="container" id="snippets">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <br>
      <br>
      <% @evaluations[0..2].each do |evaluation| %>
      <%= render 'evaluations/show_snippets', evaluation: evaluation %>
      <% end %>
    </div>
  </div>
</div>

