<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <% @evaluations[0..2].each do |evaluation| %>
      <%= render 'evaluations/show_snippets', evaluation: evaluation %>
      <% end %>
    </div>
  </div>
</div>

