<table width="100%" border="0" cellspacing="0" cellpadding="5" margin="0" style="font-family: 'Helvetica Neue Regular', Arial, Helvetica, Geneva, sans-serif; font-size:18px; background:#eeeeee; margin:0; width:100%; color:#333333; font-weight: normal;">
  <tr>
    <th scope="col">
      <table width="600"  align="center" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <th scope="col">
            <br><br>
            <a href="http://sharkrank.co/"><img src="http://sharkrank.co/assets/logo-sharkrank-582beb8bb1a8f5ef2aa40f6fc7304ea1.svg" alt="SharkRank" height="50px" align="center"></a>
            <br><br><br>



            <div align="left">
            <h2 style="margin-top:0px;margin-bottom:15px;font-size:24px;line-height:25px;font-weight:bold;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#565a5c">Hello From SharkRank</h2>

            <p style="font-weight: normal;">Your account for <strong><%= @resource.email %></strong> has been locked due to an excessive number of unsuccessful sign in attempts.<br>
            Click the link below to unlock your account:
            <br>
            <%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %>
            </p>

            <br>
            <p style="font-weight: normal;">Let's build a stronger community together,
              <br><br>
              <span style="font-size:22px; font-weight:bold;font-family:Comic Sans MS, Comic Sans,Lucida Handwriting, script, cursive">The SharkRank Team
              </span>
              <br><br><br>
              For any questions, please don't hesitate to contact us <a href="mailto:info@sharkrank.co">info@sharkrank.co</a></p><br><br><br>


            </div>

          </th>
        </tr>
      </table>
    </th>
  </tr>
</table>
