/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

.alert {
  margin-bottom: 0;
}

.img-container {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 2px;
}

.full-padded {
  padding: 1em;
}

hr {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.text-large {
  font-size: 2em;
}

body {
  background: url(image_path('bg-texture.jpg')) repeat;
}

.small-img {
  margin-top: 25px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

hr.small {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 8px 0 8px;
  height: 0;
}

.middle-page{
  margin-top: 15vh;
}

.bottom-page{
  margin-top: 50vh;

}

.scroll-btn{
position: absolute;
width: 100px;
margin-left: -50px;
bottom: 20px;
left: 50%;
text-align: center;
font-size: 60px;
color: white;

}