<strong>Contact form From SharkRank.co</strong>
<p>--------------------------------</p>
<p>
  <%= @message[:name] %> (<%= @message[:email] %>) says:
</p>
<blockquote>
  <%= @message[:message] %>
</blockquote>
