<div style="font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; padding:30ox;" >
<h4>Welcome to SharkRank</h4>
<p>A profile about <strong><%=@investor.company_name %></strong> has just been created on <a href="http://sharkrank.co/investors/sign_up">SharkRank</a>.
  <br>You are welcome to modify and complete it.
</p>
<br>
<h4>What is SharkRank?</h4>
<p><a href="http://sharkrank.co/">SharkRank</a> is a community of founders who rate and review angel investors, Venture Capitalist firms and investors.
</p>
<br>
<h4>How can SharkRank help you?</h4>

<ul>
  <li>As an investor, get feedback and discover what founders say about your company.
  </li>
  <li>Use the reviews to improve your skills and attract better deal flow.
  </li>
  <li>Tell founders and entrepreneurs of potential investments to look up your credentials on Sharkrank.
  </li>
</ul>
<br>

<h4>How to claim your profile?</h4>

<ol><li> <a href="http://sharkrank.co/investors/sign_up"><strong>Sign-up</strong></a> as an Investor</li>
<li>Go to your investor <a href="http://sharkrank.co<%= investors_profile_path(@investor) %>">
  <strong>profile</strong></a> page.</li>
<li>Click on the <strong>"Claim Profile"</strong> button. We will manually check that you are the owner of the profile page and accept your demand ASAP.</li>
<li>You can then complete your <a href="http://sharkrank.co<%= investors_profile_path(@investor) %>"> <strong>profile</strong> </a>page.</li>
<li>Send an email to all the founders of your previous investments and ask them to write a review about you on <a href="http://sharkrank.co/">SharkRank</a>.
  </ol>
<br>

<p>Thank you and we hope to see you soon on,</p>
<a href="http://sharkrank.co/"><img src="http://sharkrank.co/assets/logo-sharkrank-582beb8bb1a8f5ef2aa40f6fc7304ea1.svg" alt="SharkRank" height="50px"></a>
<p>For any questions, please don't hesitate to contact us <a href="mailto:info@sharkrank.co">info@sharkrank.co</a></p>
</div>


