<strong>Welcome to SharkRank</strong>

<p>
  A profile about you has just been created on <a href="http://sharkrank.co<%= investors_profile_path(@investor) %>">SharkRank</a>. You are welcome to modify and complete it.
</p>

<p>As SharkRank is still in beta version, you will need this invitation code: <br>
Invitation code: <span>GoSharks</span>
</p>

<strong>What is SharkRank?</strong>

<p>
  <a href="http://sharkrank.co/">SharkRank</a> wants to provide a platform that enables founders and entrepreneurs to share their experiences in dealing with investors and VC's, by open and honest reviews and ratings.
</p>

<a href="http://sharkrank.co/"><img src="http://sharkrank.co/assets/logo-sharkrank-582beb8bb1a8f5ef2aa40f6fc7304ea1.svg" alt="SharkRank" height="50px"></a>
