<strong>Welcome to SharkRank</strong>

<p>
  A profile about you has just been created on <a href="http://sharkrank.co<%= investors_profile_path(@investor) %>">SharkRank</a>. You are welcome to modify and complete it.
</p>

<strong>What is SharkRank?</strong>

<p>
  <a href="http://sharkrank.co/">SharkRank</a> is a crowdsourced rating and review system of the reputation and interactions of investors worldwide.
</p>

<p>
  It is a place for founders to rate and review angel investors, to help other founders by publicly sharing their experiences when dealing with investors. They share trustworthy and first-hand tesimonials on the reputation of investors.
</p>

<a href="http://sharkrank.co/"><img src="http://sharkrank.co/assets/logo-sharkrank-582beb8bb1a8f5ef2aa40f6fc7304ea1.svg" alt="SharkRank" height="50px"></a>
