<strong>Welcome to SharkRank</strong>

<p>
  A profile about you has just been created on <a href="http://sharkrank.co<%= investors_profile_path(@investor) %>">SharkRank</a>. You are welcome to modify and complete it.
</p>

<strong>What is SharkRank?</strong>

<p>
  <a href="http://sharkrank.co/">SharkRank</a> is a community of founders who rate and review angel investors, Venture Capitalist firms and investors.
</p>

<strong>How can SharkRank help you?</strong>

<p>
  As an investor, get feedback and discover what founders say about your company.
</p>
<p>
  Use the reviews to improve your skills and attract better deal flow.
</p>
<p>
  Tell founders and entrepreneurs of potential investments to look up your credentials on Sharkrank.
</p>

<a href="http://sharkrank.co/"><img src="http://sharkrank.co/assets/logo-sharkrank-582beb8bb1a8f5ef2aa40f6fc7304ea1.svg" alt="SharkRank" height="50px"></a>
