<h1>Welcome to AngelLayer</h1>

<p>
  A profile about you has just been created on <a href="https://angellayer.herokuapp.com<%= investors_profile_path(@investor) %>">AngelLayer</a>. You are welcome to modify and complete if.
</p>

<h2>What is AngelLayer?</h2>

<p>
  <a href="https://angellayer.herokuapp.com/">AngelLayer</a> is a plateform for startup founders that allow them to browse profiles of investors and rate them based on their experience. It's aim is to help startup founders be more focused when they look for investors.
</p>

<a href="https://angellayer.herokuapp.com/"><img src="https://angellayer.herokuapp.com/assets/logo-angel-layer-b951b5e0c03e86f0685c2947910446eb.svg" alt="AngelLayer" height="50px"></a>
