<!-- =========================
MODAL - Contact
============================== -->

<div class="modal fade" id="claim-<%= profile.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Claiming investor profile</h4>
      </div>
      <div class="modal-body">
        <p class="thanks" style="display: none;">Thank you for your request, we will come back to you soon.</p>
        <%= render 'contacts/claim_form', user: current_investor || current_founder, profile: profile %>
      </div>
    </div>
  </div>
</div>