<!-- app/views/investors/profile/index.html.erb -->

<h1>All the Investors</h1>

<% @investors.each do |investor| %>
  <%= link_to investors_profile_path(investor) do %>
    <%= investor.email %>
  <% end %>
<% end %>