$(document).ready(function() {
  //smooth scroll on welcome page
  $('a[href^="#"]').click(function(){
    var the_id = $(this).attr("href");

    $('html, body').animate({
      scrollTop:$(the_id).offset().top
    }, 1200);
    return false;
  });

  if ($('#cc-toggle').prop("checked")){
    $('.for-founders').hide()
  } else {
    $('.for-founders').show()
  }

  //hide social sign up for investors
  $('#cc-toggle').change(function() {
    if ($(this).prop("checked")){
      $('.for-founders').slideUp()
    } else {
      $('.for-founders').slideDown()
    }
  });

  //js validation for form: need invitation code
  var error = false;
  $('.social-signup').click(function(event) {
      // Remember the link href
      var href = this.href;

      // Don't follow the link
      event.preventDefault();

      var code = $('#resource_code').val();
      var valid_code = '' + <%= ENV['SIGN_UP'] %>;

      // This is the completion callback for the asynchronous thing;
      if ( code == valid_code ) {
        // go to the link
        error = false;
        window.location = href;
      } else if (!error) {
        $('#resource_code').parent().addClass('has-error');
        $('#resource_code').parent().append('<span class="text-danger code-error">Wrong invitation code</span>');
        error = true;
      }
  });
});