/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

.btn-facebook {
    background: #3B5998;
    color: #ffffff;
    margin-bottom: 7px;
    width: 100%;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    background: #2d4278;
    color: #ffffff;
}

.btn-facebook:active, .btn-facebook.active {
    box-shadow: none;
}

.btn-twitter {
    background: #00aced;
    color: #ffffff;
    margin-bottom: 7px;
    width: 100%;
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
    background: #0581bb;
    color: #ffffff;
}

.btn-twitter:active, .btn-twitter.active {
    box-shadow: none;
}

.btn-linkedin {
    background: #007bb6;
    color: #ffffff;
    margin-bottom: 7px;
    width: 100%;
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
    background: #05519b;
    color: #ffffff;
}

.btn-linkedin:active, .btn-linkedin.active {
    box-shadow: none;
}

.btn-social{
  background: #007bb6;
    color: #ffffff;
    margin-bottom: 7px;
    width: 100%;
}

.btn-social:hover, .btn-social:focus, .btn-social:active, .btn-social.active, .open > .dropdown-toggle.btn-linkedin {
    background: #05519b;
    color: #ffffff;
}

.social-footer {
  float:right;
  font-size: 2em;
}

.footer-btn-padding{
  padding-right: 7px;
}

.footer-facebook {
    // background: #3B5998;
    color: #ffffff;

}

.footer-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    // background: #2d4278;
    color: #3B5998;
}

.footer-twitter {
    // background: #00aced;
    color: #ffffff;
}

.footer-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
    // background: #0581bb;
    color: #00aced;
}

.social-bar{
  position: fixed;
  top: 60%;
  left: 0px;
}

.left-bar-button{
  display: block;
  width: 48px;
  margin: 0;
  padding: 10px;
  outline: none;
  text-align: center;
  font-size: 2em;

}

.left-twitter {
  background: #00aced;
  color: #ffffff;
}

.left-twitter:hover{
  background: #0581bb;
  color: #ffffff;
}

.left-facebook {
  background: #3B5998;
  color: #ffffff;
}

.left-facebook:hover{
  background: #2d4278;
  color: #ffffff;
}