/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

.btn-facebook {
    background: #3B5998;
    color: #ffffff;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    background: #2d4278;
    color: #ffffff;
}

.btn-facebook:active, .btn-facebook.active {
    box-shadow: none;
}

.btn-twitter {
    background: #00aced;
    color: #ffffff;
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
    background: #0581bb;
    color: #ffffff;
}

.btn-twitter:active, .btn-twitter.active {
    box-shadow: none;
}

.btn-linkedin {
    background: #007bb6;
    color: #ffffff;
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
    background: #05519b;
    color: #ffffff;
}

.btn-linkedin:active, .btn-linkedin.active {
    box-shadow: none;
}