<!-- app/views/founders/profile/index.html.erb -->

<h1>All the Founders</h1>

<% @founders.each do |founder| %>
  <p>
    <%= link_to founders_profile_path(founder) do %>
      <%= founder.email %>
    <% end %>
  </p>
<% end %>